{# tiny-auth: Tiny OIDC Provider
   Copyright (C) 2019 The tiny-auth developers

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or


   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "base.html.j2" %}
{% block content %}
{% set error = error | default(value=0) %}
<h1>{{ translate(term="Login") }}</h1>
{% if error == 1 %}
    <div id="error" class="alert alert-danger"
         role="alert">{{ translate(term="Missing username")}}</div>
{% elif error == 2 %}
    <div id="error" class="alert alert-danger"
         role="alert">{{ translate(term="Missing password")}}</div>
{% elif error == 3 %}
    <div id="error" class="alert alert-danger"
         role="alert">{{ translate(term="Username or password wrong")}}</div>
{% endif %}
<form action="{{ url(name="authenticate") }}" method="post">
    <div class="form-group">
        <label class="control-label"
               for="id_username">{{ translate(term="Username") }}</label>
        <input id="id_username" class="form-control" autofocus=""
               autocapitalize="none" autocomplete="username" maxlength="150"
               required="" type="text" name="username"/>
    </div>
    <div class="form-group">
        <label class="control-label"
               for="id_password">{{ translate(term="Password") }}</label>
        <input id="id_password" class="form-control"
               autocomplete="current-password" required="" type="password"
               name="password"/>
    </div>
    <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
    <input class="btn btn-success" type="submit" id="id_submit"
           value="{{ translate(term="Login") }}">
</form>
{% endblock %}
