{# tiny-auth: Tiny OIDC Provider
   Copyright (C) 2019 The tiny-auth developers

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or


   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "base.html.j2" %}
{% block content %}
<div class="form">
<h2>{{ translate(term="Consent") }}</h2>
<div class="username">John Silver</div>
<div class="consent">
Do you want to give Confidential Client access to this?
<dl>
  <dt>E-Mail</dt>
  <dd>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu libero dapibus, aliquet felis nec, finibus erat. Cras massa risus, ornare sed nulla quis, posuere condimentum neque. Ut in bibendum urna. Phasellus id dolor eros. Ut mattis turpis nec velit semper, id commodo nulla elementum. Aliquam nulla tellus, feugiat sed eros vitae, egestas tristique ex. In consequat leo a neque pretium, tempus consectetur turpis semper. Nulla facilisi. Duis eros magna, laoreet vitae maximus sagittis, lacinia et erat. </dd>
</dl>
<dl>
  <dt>Pictures</dt>
  <dd>Access to all your pictures</dd>
</dl>
</div>
<form action="{{ url(name="consent") }}" method="post">
    <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
    <input class="btn btn-success" type="submit" id="id_submit"
           value="{{ translate(term="Agree") }}">
</form>
</div>
{% endblock %}
