[Unit]
Description="OIDC Provider"
After=network.target network-online.target nss-lookup.target

[Service]
Type=notify
ExecStart=/usr/bin/tiny-auth
User=tiny-auth
Group=tiny-auth
WorkingDirectory=/var/lib/tiny-auth
Restart=on-failure
RestartSec=5
WatchdogSec=5
WatchdogSignal=SIGTERM
Environment=NO_COLOR=1

# tiny-auth waits 30s for existing connections to terminate
TimeoutStopSec=30s

NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
SystemCallFilter=~@cpu-emulation @keyring @module @obsolete @raw-io

[Install]
WantedBy=multi-user.target
